<html>
  <head>
    <title>Roomies log in</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css"/>
  </head>
  <body>
    <h1>Log in</h1>
    <form method="POST">
    <div class = "form-group">
      Username: <br/>
      <input type="text" name="username" placeholder="username"/> <br/>
    </div>
    <div class = "form-group">
      Password: <br/>
      <input type="password" name="password" placeholder="password"/> <br/>
    </div>
      <button class = "btn1" type="submit">Log in</button>
    </form>
    <p> Don't have an account? <a href = /account/signup> sign up </a></p>
  </body>
</html>
